{% extends "site/base-designed-centered.html.twig" %}

{% set class = globals.videos[video_language][video_class] %}

{% block title %}
    {{ 'videos.videolist.browsertitle.class'|trans }} {{ class.name }} ({{ video_language }}) - MyMathematik
{% endblock %}

{% block content %}
    <div class="videolist">
        <div class="text-center mb-5">
            <h1>
                {{ 'videos.yearlevel'|trans }} {{ class.name }}
            </h1>
            <a href="{{ class.curriculum }}" rel="noopener noreferrer" target="_blank" class="text-secondary">
                {{ 'videos.videolist.curriculum'|trans }}
                <i class="fas fa-link"></i>
            </a>
        </div>
        <div>
            {% for chapter in class.chapters %}
                {% set chapter_index = loop.index %}
                <div class="card mb-3">
                    <div 
                        class="card-header cursor-pointer {% if open != chapter_index %}collapsed{% endif %}"
                        data-toggle="collapse"
                        data-target="#content{{ chapter_index }}"
                        aria-expanded="false"
                        aria-controls="content{{ chapter_index }}"
                        id="header{{ chapter_index }}"
                        role="button"
                    >
                        {{ chapter.name }} ({{ chapter.videos|length }})
                        <span class="float-right">
                            <i class="fas fa-angle-down"></i>
                        </span>
                    </div>
                    <div 
                        class="card-body p-0 collapse {% if open == chapter_index %}show{% endif %}"
                        id="content{{ chapter_index }}"
                        aria-labelledby="header{{ chapter_index }}"
                    >
                        <div class="row m-0 m-3">
                            {% for video in chapter.videos %}
                                {% set video_index = loop.index %}
                                <a
                                    class="text-left btn col-lg-4 col-md-6 col-sm-12"
                                    href="{{ path('route_video', {language: video_language, class: video_class, chapter: chapter_index, index: video_index}) }}"
                                >
                                    <img
                                        src="{{ video.thumbnail == "" ? asset('/build/images/ThumbnailFallback.png') : asset('/build/images/thumbnails/' ~ video.thumbnail) }}"
                                        alt="{{ video.name }}"
                                        class="w-100 h-75"
                                    />
                                    <div class="text-secondary">
                                        {{ video.name }}
                                    </div>
                                </a>
                            {% else %}
                                <div class="nocontent">
                                    {{ 'videos.videolist.novideos'|trans }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="nocontent">
                    {{ 'videos.videolist.nochapters'|trans }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}