{% extends "site/base-designed.html.twig" %}

{% set class = globals.videos[videoLanguage][videoClass] %}

{% block title %}
    {{ 'videos.videolist.browsertitle.class'|trans }} {{ class.name }} ({{ videoLanguage }}) - MyMathematik
{% endblock %}

{% block content %}
    <div class="videolist">
        <div class="head">
            <h1>
                {{ 'videos.yearlevel'|trans }} {{ class.name }}
            </h1>
            <a href="{{ class.curriculum }}" rel="noopener noreferrer" target="_blank">
                {{ 'videos.videolist.curriculum'|trans }}
                <i class="fas fa-link"></i>
            </a>
        </div>
        <div class="list">
            {% for chapterNumber, chapter in class.chapters %}
                <div class="chapter">
                    <div class="chaptertitle">
                        {{ chapter.name }}
                        <i class="fas fa-angle-down dropdownbutton"></i>
                    </div>
                    <div class="chaptercontent">
                        <div class="contentwrapper">
                            {% for videoNumber, video in chapter.videos %}
                                <a href="/videos/{{ videoLanguage }}/{{ videoClass }}/{{chapterNumber}}/{{ videoNumber }}" class="videocontainer">
                                    <img
                                        class="videothumbnail"
                                        src="{{ asset(video.thumbnail == "" ? 'build/images/ThumbnailFallback.png' : video.thumbnail) }}"
                                        alt="{{ video.name }}"
                                    />
                                    <div class="videoname">
                                        {{ video.name }}
                                    </div>
                                </a>
                            {% else %}
                                <div class="nocontent">
                                    {{ 'videos.videolist.novideos'|trans }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="nocontent">
                    {{ 'videos.videolist.nochapters'|trans }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}