{% extends "site/base-designed.html.twig" %}

{% set class = globals.videos[videoLanguage][videoClass] %}

{% block title %}
    {{ 'videos.videolist.browsertitle.class'|trans }} {{ class.name }} ({{ videoLanguage }}) - MyMathematik
{% endblock %}

{% block content %}
    <div class="videolist">
        <div class="text-center mb-5">
            <h1>
                {{ 'videos.yearlevel'|trans }} {{ class.name }}
            </h1>
            <a href="{{ class.curriculum }}" rel="noopener noreferrer" target="_blank" class="text-secondary">
                {{ 'videos.videolist.curriculum'|trans }}
                <i class="fas fa-link"></i>
            </a>
        </div>
        <div>
            {% for chapterNumber, chapter in class.chapters %}
                <div class="card mb-3">
                    <div 
                        class="card-header cursor-pointer collapsed"
                        data-toggle="collapse"
                        data-target="#content{{ loop.index }}"
                        aria-expanded="false"
                        aria-controls="content{{ loop.index }}"
                        id="header{{ loop.index }}"
                        role="button"
                    >
                        {{ chapter.name }}
                        <i class="fas fa-angle-down float-right"></i>
                    </div>
                    <div 
                        class="card-body collapse p-0"
                        id="content{{ loop.index }}"
                        aria-labelledby="header{{ loop.index }}"
                    >
                        <div class="row m-0 m-3">
                            {% for videoNumber, video in chapter.videos %}
                                <a
                                    class="text-left btn col-lg-4 col-md-6 col-sm-12"
                                    href="/videos/{{ videoLanguage }}/{{ videoClass }}/{{chapterNumber}}/{{ videoNumber }}"
                                >
                                    <img
                                        src="{{ video.thumbnail == "" ? '/content/images/ThumbnailFallback.png' : '/content/thumbnails/' ~ video.thumbnail }}"
                                        alt="{{ video.name }}"
                                        class="w-100 h-75"
                                    />
                                    <div class="text-secondary">
                                        {{ video.name }}
                                    </div>
                                </a>
                            {% else %}
                                <div class="nocontent">
                                    {{ 'videos.videolist.novideos'|trans }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="nocontent">
                    {{ 'videos.videolist.nochapters'|trans }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}