{% extends "site/base.html.twig" %}

{% block fullcontent %}
    <div class="headerimage">
        <img src="{{ asset('build/images/Header.jpg') }}"></img>
    </div>
    <div class="content" id="content">
        {% block content %}{% endblock %}
    </div>
{% endblock %}

{% block js %}
    {{ parent() }}
    {{ encore_entry_script_tags('base-designed') }}
{% endblock %}

{% block css %}
    {{ parent() }}
    {{ encore_entry_link_tags('base-designed') }}
{% endblock %}