{% import "macros/favicon.html.twig" as favicondrawer %}
{% htmlcompress %}
<!DOCTYPE html>
<html lang="{{ globals.request.locale }}">
    <head>
        <meta charset="UTF-8">

        {{ favicondrawer.favicon( '/content/images/Taschenrechner' , ['svg', 'png']) }}

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ ga_tracking }}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', '{{ ga_tracking }}');
        </script>

        <title>
            {% block title %}
                {% if title is defined %}
                    {{ title }}
                {% else %}
                    {{ app.request.pathinfo|split('/')|reverse|join(" - ")|capitalize }}
                    {{ 'site.title'|trans }}
                {% endif %}
            {% endblock title %}
        </title>

        {% block css %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

    </head>
    <body>
        
        {% set current_language_code = globals.request.locale %}
        {% set current_design = globals.current_design %}

        {% block global_data %}
            <input type="hidden" id="current_language_code" value="{{ current_language_code }}" />
            <input type="hidden" id="cookie_livetime" value="{{ cookie_livetime }}" />
            <input type="hidden" id="initial_design" value="{{ current_design }}" />
        {% endblock %}

        {% block body %}

            <div class="fixed-top">
                {% block fixed_top %}
                    
                    {% block cookies %}
                        <div class="bg-header overflow-hidden border-bottom border-dark" id="cookieinfo" style="height: 0">
                            <div class="p-3">
                                <span class="text-white mb-0 mr-1 h-100" style="line-height: 1.9">
                                    {{ 'cookies.info'|trans }}
                                </span>
                                <u><a href="{{ path('route_information_cookies') }}" class="text-white">
                                    {{ 'cookies.more'|trans }}
                                </a></u> 
                                <button class="btn btn-danger btn-sm float-right" id="cookiesAccepted">
                                    {{ 'cookies.ok'|trans }}
                                </button>
                                <div style="clear:both"></div>
                            </div>
                        </div>
                    {% endblock %}

                    {% block header %}
                        <header class="header bg-header shadow transition-all-3" id="header">
                            <a href="{{ path('route_home') }}" rel="home" class="ml-4">
                                <h2 class="m-0 text-white d-inline-block p-2">{{ "header.title"|trans }}</h2>
                            </a>

                            <div class="headerlinks ml-4 text-white f-right h-100 float-right">
                                <div class="classlinks d-none d-lg-inline-block">
                                    {% for key, class in globals.videos[current_language_code] %}
                                        <a href="/videos/{{ current_language_code }}/{{ key }}">
                                            {{ 'header.navigation.classes.class'|trans }} {{ class.name }}
                                        </a>
                                    {% else %}
                                        <div>
                                            {{ 'header.navigation.classes.noclass'|trans }}
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="menu">
                                    <i class="menuheader fas fa-bars"></i>
                                    <div class="menucontent" id="menucontent">
                                        <div class="menupart d-block d-lg-none">
                                            {% for key, class in globals.videos[current_language_code] %}
                                                <a class="menubutton" href="/videos/{{ current_language_code }}/{{ key }}">
                                                    <i class="menu-icon fas fa-graduation-cap d-inline"></i>
                                                    {{ 'header.navigation.classes.class'|trans }} {{ class.name }}
                                                </a>
                                            {% else %}
                                                <div class="menubutton">
                                                    {{ 'header.navigation.classes.noclass'|trans }}
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="menupart">
                                            {% if app.user is null %}
                                                <a class="menubutton" href="{{ path('route_account_me') }}">
                                                    <i class="menu-icon far fa-user"></i>
                                                    {{ 'header.navigation.menu.account.me'|trans }}
                                                </a>
                                                <a class="menubutton" href="{{ path('route_account_login') }}">
                                                    <i class="menu-icon fas fa-sign-in-alt"></i>
                                                    {{ 'header.navigation.menu.account.login'|trans }}
                                                </a>
                                                <a class="menubutton" href="{{ path('route_account_register') }}">
                                                    <i class="menu-icon fas fa-user-plus"></i>
                                                    {{ 'header.navigation.menu.account.register'|trans }}
                                                </a>
                                            {% else %}
                                                <a class="menubutton" href="{{ path('route_account_me') }}">
                                                    <div class="userimagewrapper">
                                                        <img src="{{ user_image_path(app.user) }}">
                                                    </div>
                                                    <span class="position-absolute">
                                                        {{ 'header.navigation.menu.account.me'|trans }}
                                                    </span>
                                                </a>
                                                <a class="menubutton" href="{{ path('route_account_logout') }}">
                                                    <i class="menu-icon fas fa-sign-out-alt"></i>
                                                    {{ 'header.navigation.menu.account.logout'|trans }}
                                                </a>
                                                <a class="menubutton" href="{{ path('route_account_login') }}">
                                                    <i class="menu-icon fas fa-sync"></i>
                                                    {{ 'header.navigation.menu.account.switch'|trans }}
                                                </a>
                                            {% endif %}
                                        </div>
                                        <div class="menupart">
                                            <a class="menubutton" href="{{ path('route_forum') }}">
                                                <i class="menu-icon fas fa-users"></i>
                                                {{ 'header.navigation.menu.forum.title'|trans }}
                                            </a>
                                            <a class="menubutton" href="{{ path('route_tools_calculator') }}">
                                                <i class="menu-icon fas fa-calculator"></i>
                                                {{ 'header.navigation.menu.tools.calculator'|trans }}
                                            </a>
                                        </div>
                                        <div class="menupart">
                                            <div class="switch-button">
                                                <div class="switch-header">
                                                    <i class="menu-icon fas fa-language"></i>
                                                    {{ 'header.navigation.menu.settings.language.title'|trans }}
                                                </div>
                                                <div class="switch-content">
                                                    {% for locale, _dummy in globals.videos %}
                                                        <div data-languagecode="{{ locale }}" class="switch-content-button languageswitcher">
                                                            <i class="far {{ locale == globals.request.locale ? "fa-check-circle" : "fa-circle" }}"></i>
                                                            {{ ("header.navigation.menu.settings.language.codes." ~ locale)|trans }}
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            <div class="switch-button">
                                                <div class="switch-header">
                                                    <i class="menu-icon fas fa-palette"></i>
                                                    {{ 'header.navigation.menu.settings.design.title'|trans }}
                                                </div>
                                                <div class="switch-content">
                                                    {% for name, design in globals.designs %}
                                                        <div data-design-name="{{ name }}" class="switch-content-button designswitcher">
                                                            <i
                                                                class="far fa-circle"
                                                                id="design-check-circle-{{ name }}"
                                                            ></i>
                                                            {{ design.localiced_name|trans }}
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="clear:both"></div>
                        </header>
                    {% endblock %}
                {% endblock %}
            </div>

            <div class="fullcontent" id="fullcontent">
                {% block fullcontent %}{% endblock %}
            </div>

            {% block footer %}
                <footer class="footer" id="footer">
                    <div class="footercontent">
                        <div class="footerlinks">
                            <a href="/information/impressum" class="footerlink">
                                {{ 'footer.impressum'|trans }}
                            </a>
                            <a href="/information/contact" class="footerlink">
                                {{ "footer.contact"|trans }}
                            </a>
                            <a href="/information/sponsors" class="footerlink">
                                {{ "footer.sponsors"|trans }}
                            </a>
                            <a href="/information/cookies" class="footerlink">
                                {{ "footer.cookies"|trans }}
                            </a>
                            <a href="/information/conditions" class="footerlink">
                                {{ "footer.conditions"|trans }}
                            </a>
                            <a href="https://www.valentin-heider-gymnasium.de/" class="footerlink">
                                {{ "footer.vhg"|trans }}
                            </a>
                        </div>
                        <span id="scrollUp" class="goup">
                            {{ 'footer.goup'|trans }}
                        </span>
                    </div>
                </footer>
            {% endblock %}
        {% endblock body %}

        {% block js %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
{% endhtmlcompress %}