{% import "macros/favicon.html.twig" as favicondrawer %}
{% htmlcompress %}
<!DOCTYPE html>
<html lang="{{ globals.current_language.code }}">
    <head>
        <meta charset="UTF-8">

        {{ favicondrawer.favicon( asset(favicon) , ['svg', 'png']) }}

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ ga_tracking }}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', '{{ ga_tracking }}');
        </script>

        <title>
            {% if title is defined %}
                {{ title }}
            {% else %}
                {{ 'site.title'|trans }}
                {{ app.request.pathinfo|replace({"/": " - "})|trim(' - ', 'right') }}
            {% endif %}
        </title>

        {% block css %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

    </head>
    <body>
        
        {% set current_language_code = globals.current_language.code %}
        {% set current_design = globals.current_design %}

        {% block global_data %}
            <input type="hidden" id="current_language_code" value="{{ current_language_code }}" />
            <input type="hidden" id="cookie_livetime" value="{{ cookie_livetime }}" />
            <input type="hidden" id="initial_design" value="{{ current_design }}" />
        {% endblock %}

        {% block body %}

            <div class="fixed-top">
                {% block fixed_top %}
                    
                    {% block cookies %}
                        <div class="cookies" id="cookieinfo">
                            <div class="cookiestext">
                                <label>
                                    {{ 'cookies.info'|trans }}
                                </label>
                                <a href="{{ globals.informations.cookies.href }}">
                                    {{ 'cookies.more'|trans }}
                                </a>
                                <button id="cookiesAccepted">
                                    {{ 'cookies.ok'|trans }}
                                </button>
                            </div>
                        </div>
                    {% endblock %}

                    {% block header %}
                        <header class="header" id="header">
                            <a href="{{ path('route_home') }}" class="title" rel="home">
                                {{ "header.title"|trans }}
                            </a>

                            <div class="headerlinks">
                                <div class="classlinks">
                                    {% for key, class in globals.videos[current_language_code] %}
                                        <a href="/videos/{{ current_language_code }}/{{ key }}">
                                            {{ 'header.navigation.classes.class'|trans }} {{ class.name }}
                                        </a>
                                    {% else %}
                                        <div>
                                            {{ 'header.navigation.classes.noclass'|trans }}
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="menu">
                                    <i class="menuheader fas fa-bars"></i>
                                    <div class="menucontent">
                                        <div class="menupart">
                                            {% if app.user is null %}
                                                <a class="menubutton" href="{{ path('route_account_me') }}">
                                                    <i class="menu-icon far fa-user"></i>
                                                    {{ 'header.navigation.menu.account.me'|trans }}
                                                </a>
                                                <a class="menubutton" href="{{ path('route_account_login') }}">
                                                    <i class="menu-icon fas fa-sign-in-alt"></i>
                                                    {{ 'header.navigation.menu.account.login'|trans }}
                                                </a>
                                                <a class="menubutton" href="{{ path('route_account_register') }}">
                                                    <i class="menu-icon fas fa-user-plus"></i>
                                                    {{ 'header.navigation.menu.account.register'|trans }}
                                                </a>
                                            {% else %}
                                                <a class="menubutton" href="{{ path('route_account_me') }}">
                                                    <i class="menu-icon fas fa-user"></i>
                                                    {{ 'header.navigation.menu.account.me'|trans }}
                                                </a>
                                                <a class="menubutton" href="{{ path('route_account_logout') }}">
                                                    <i class="menu-icon fas fa-sign-out-alt"></i>
                                                    {{ 'header.navigation.menu.account.logout'|trans }}
                                                </a>
                                                <a class="menubutton" href="{{ path('route_account_login') }}">
                                                    <i class="menu-icon fas fa-sync"></i>
                                                    {{ 'header.navigation.menu.account.switch'|trans }}
                                                </a>
                                            {% endif %}
                                        </div>
                                        <div class="menupart">
                                            <div class="switch-button">
                                                <div class="switch-header">
                                                    <i class="menu-icon fas fa-language"></i>
                                                    {{ 'header.navigation.menu.settings.language.title'|trans }}
                                                </div>
                                                <div class="switch-content">
                                                    {% for language in globals.languages %}
                                                        <div data-languagecode="{{ language.code }}" class="switch-content-button languageswitcher">
                                                            <i class="far {{ language.code == current_language_code ? "fa-check-circle" : "fa-circle" }}"></i>
                                                            {{ language.name }}
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            <div class="switch-button">
                                                <div class="switch-header">
                                                    <i class="menu-icon fas fa-palette"></i>
                                                    {{ 'header.navigation.menu.settings.design.title'|trans }}
                                                </div>
                                                <div class="switch-content">
                                                    {% for design in globals.designs %}
                                                        <div data-css="{{ design.css }}" class="switch-content-button designswitcher">
                                                            <i
                                                                class="far {{ design.css == current_design ? "fa-check-circle" : "fa-circle" }}"
                                                                id="design-check-circle-{{ design.css }}"
                                                            ></i>
                                                            {{ design.name|trans }}
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>  
                        </header>
                    {% endblock %}
                {% endblock %}
            </div>

            <div class="fullcontent" id="fullcontent">
                {% block fullcontent %}{% endblock %}
            </div>

            {% block footer %}
                <footer class="footer" id="footer">
                    <div class="footercontent">
                        <div class="footerlinks">
                            {% for info in globals.informations %}
                                <a href="{{ info.href }}" class="footerlink">
                                    {{ info.name|trans }}
                                </a>
                            {% endfor %}
                        </div>
                        <span id="scrollUp" class="goup">
                            {{ 'footer.goup'|trans }}
                        </span>
                    </div>
                </footer>
            {% endblock %}
        {% endblock body %}

        {% block js %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
{% endhtmlcompress %}