{% import "macros/favicon.html.twig" as favicondrawer %}
{% htmlcompress %}
<!DOCTYPE html>
<html lang="{{ globals.current_language.code }}">
    <head>
        <meta charset="UTF-8">

        {{ favicondrawer.favicon( asset(favicon) , ['svg', 'png']) }}

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ ga_tracking }}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', '{{ ga_tracking }}');
        </script>

        <title>
            {% if title is defined %}
                {{ title }}
            {% else %}
                {{ 'site.title'|trans }}
                {{ app.request.pathinfo|replace({"/": " - "})|trim(' - ', 'right') }}
            {% endif %}
        </title>

        {% block css %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

    </head>
    <body>
        
        {% block global_data %}
            <input type="hidden" id="language_code" value="{{ globals.current_language.code }}" />
            <input type="hidden" id="cookiesaccepted_livetime" value="{{ cookiesaccepted_livetime }}" />
            <input type="hidden" id="language_livetime" value="{{ language_livetime }}" />
        {% endblock %}

        {% block body %}
            {% block header %}
                <header class="header" id="header">
                    <a href="{{ path('route_home') }}" class="title" rel="home">
                        {{ "header.title"|trans }}
                    </a>

                    <div class="icons">
                        <div class="icon">
                            {% for key, class in globals.classes %}
                                <a href="/videos/{{ globals.current_language.code }}/{{ key }}">
                                    {{ 'header.icons.classes.class'|trans }} {{ class.name }}
                                </a>
                            {% else %}
                                <div>
                                    {{ 'header.icons.classes.noclass'|trans }}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="icon">
                            <i class="dropdownheader fas fa-bars"></i>
                            <div class="dropdowncontent">
                                <div class="menupart">
                                    <a href="{{ path('route_account_me') }}">
                                        {{ 'header.icons.account.me'|trans }}
                                    </a>
                                    {% if app.user is null %}
                                        <a href="{{ path('route_account_login') }}">
                                            {{ 'header.icons.account.login'|trans }}
                                        </a>
                                        <a href="{{ path('route_account_register') }}">
                                            {{ 'header.icons.account.register'|trans }}
                                        </a>
                                    {% else %}
                                        <a href="{{ path('route_account_logout') }}">
                                            {{ 'header.icons.account.logout'|trans }}
                                        </a>
                                        <a href="{{ path('route_account_login') }}">
                                            {{ 'header.icons.account.switch'|trans }}
                                        </a>
                                    {% endif %}
                                </div>
                                <div class="menupart">
                                    <div>
                                        Sprache
                                    </div>
                                    <div>
                                        Design
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  
                </header>
            {% endblock %}

            <div class="fullcontent">
                {% block fullcontent %}{% endblock %}
            </div>

            {% block footer %}
                <footer class="footer" id="footer">
                    <div class="footercontent">
                        <div class="footerlinks">
                            {% for info in globals.informations %}
                                <a href="{{ info.href }}" class="footerlink">
                                    {{ info.name|trans }}
                                </a>
                            {% endfor %}
                        </div>
                        <span id="scrollUp" class="goup">
                            {{ 'footer.goup'|trans }}
                        </span>
                    </div>
                </footer>
            {% endblock %}
        {% endblock body %}

        {% block cookies %}
            <div class="cookies" id="cookies">
                <div class="cookiestext">
                    <label>
                        {{ 'cookies.info'|trans }}
                    </label>
                    <a href="{{ globals.informations.cookies.href }}">
                        {{ 'cookies.more'|trans }}
                    </a>
                    <button id="cookiesAccepted">
                        {{ 'cookies.ok'|trans }}
                    </button>
                </div>
            </div>
        {% endblock %}

        {% block js %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
{% endhtmlcompress %}