{% import "macros/favicon.html.twig" as favicondrawer %}
{% apply spaceless %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        {{ favicondrawer.favicon( asset(favicon) , ['svg', 'png']) }}

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script type="text/javascript" async src="https://www.googletagmanager.com/gtag/js?id={{ ga_tracking }}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', '{{ ga_tracking }}');
        </script>

        <title>
            {% if title is defined %}
                {{ title }}
            {% else %}
                {{ 'site.title'|trans }}
                {{ app.request.pathinfo|replace({"/": " - "})|trim(' - ', 'right') }}
            {% endif %}
        </title>

        {% block css %}
            {{ encore_entry_link_tags('base') }}
        {% endblock %}

    </head>
    <body>
        
        <input type="hidden" id="language_code" value="{{ globals.current_language.code }}" />
        <input type="hidden" id="cookiesaccepted_livetime" value="{{ cookiesaccepted_livetime }}" />
        <input type="hidden" id="language_livetime" value="{{ language_livetime }}" />

        {% block header %}
            <header class="header header-transparent" id="header" role="banner">
                <a href="{{ path('route_home') }}" class="title" rel="home">
                    {{ "header.title"|trans }}
                </a>

                <div class="icons">
                    <div class="icon">
                        <i class="dropdownheader fas fa-video"></i>
                        <div class="dropdowncontent">
                            {% if globals.classes|length > 0 %}
                                {% for key, class in globals.classes %}
                                    <a href="/videos/{{ globals.current_language.code }}/{{ key }}">
                                        {{ 'header.icons.classes.class'|trans }} {{ class.name }}
                                    </a>
                                {% endfor %}
                            {% else %}
                                <div>
                                    {{ 'header.icons.classes.noclass'|trans }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="icon">
                        <a href="{{ path('route_account_me') }}" class="dropdownheader {{ app.user == null ? 'far' : 'fas' }} fa-user"></a>
                        <div class="dropdowncontent">
                            <a href="{{ path('route_account_me') }}">
                                {{ 'header.icons.account.me'|trans }}
                            </a>
                            {% if app.user is null %}
                                <a href="{{ path('route_account_login') }}">
                                    {{ 'header.icons.account.login'|trans }}
                                </a>
                                <a href="{{ path('route_account_register') }}">
                                    {{ 'header.icons.account.register'|trans }}
                                </a>
                            {% else %}
                                <a href="{{ path('route_account_logout') }}">
                                    {{ 'header.icons.account.logout'|trans }}
                                </a>
                                <a href="{{ path('route_account_login') }}">
                                    {{ 'header.icons.account.switch'|trans }}
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="icon">
                        <i class="dropdownheader fas fa-language"></i>
                        <div class="dropdowncontent">
                            {% for language in globals.languages %}
                                <a class="languageswitcher" data-language="{{ language.code }}" href="">
                                    <i class="far {{ globals.current_language == language ? 'fa-check-circle' : 'fa-circle' }}"></i>
                                    {{ language.name }}
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="icon">
                            <a href="{{ path('route_admin') }}" class="dropdownheader fas fa-cogs"></a>
                            <div class="dropdowncontent">
                                <a href="{{ path('route_admin_videoconfig') }}">
                                    Videoconfig
                                </a>
                                <a href="{{ path('route_admin_languageconfig') }}">
                                    Languageconfig
                                </a>
                            </div>
                        </div>
                    {% endif %}
                </div>

            </header>
        {% endblock %}

        <div class="fullcontent">
            {% block fullcontent %}
                <div class="headerimage">
                    <img src="{{ asset('build/images/Header.jpg') }}"></img>
                </div>
                <div class="content" id="content">
                    {% block content %}{% endblock %}
                </div>
            {% endblock %}
        </div>

        {% block footer %}
            <footer class="footer" id="footer">
                <div class="footercontent">
                    <div class="footerlinks">
                        {% for info in globals.informations %}
                            <a href="{{ info.href }}" class="footerlink">
                                {{ info.name|trans }}
                            </a>
                        {% endfor %}
                    </div>
                    <span id="scrollUp" class="goup">
                        {{ 'footer.goup'|trans }}
                    </span>
                </div>
            </footer>
        {% endblock %}

        {% block cookies %}
            <div class="cookies" id="cookies">
                <div class="cookiestext">
                    <label>
                        {{ 'cookies.info'|trans }}
                    </label>
                    <a href="{{ globals.informations.cookies.href }}">
                        {{ 'cookies.more'|trans }}
                    </a>
                    <button id="cookiesAccepted">
                        {{ 'cookies.ok'|trans }}
                    </button>
                </div>
            </div>
        {% endblock %}

        {% block js %}
            {{ encore_entry_script_tags('base') }}
        {% endblock %}
    </body>
</html>
{% endapply %}