{% extends "site/base-simple.html.twig" %}

{% block title %}
    {{ user is null ? "Not logged in" : user.getName() }} - MyMathematik
{% endblock %}

{% block content %}
    <div class="account">
        {% if user is not null %}
            <h1 class="name">
                {{ user.getName() }}
            </h1>
            <div class="imagewrapper">
                <img src="{{ user_image_path(user) }}">
            </div>
            Posts:
            <div class="posts pt-4">
                {% for question in user.getQuestions()|reverse %}
                    <a class="card mb-3 text-decoration-none" href="/forum/{{ question.getId() }}">
                        <div class="card-body">
                            <div class="card-text row">
                                <img class="col-1 dark-invert-color" src="{{ 
                                    question.getType() == "question" ? asset('build/images/Question.png') : asset('build/images/Post.png')
                                }}" />
                                <h2 class="col-11">
                                    {{ question.getTitle() }}
                                </h2>
                            </div>
                        </div>
                        <div class="card-footer text-secondary small">
                             Gepostet {{ question.getDate().date|ago }}
                        </div>
                    </a>
                {% else %}
                    Keine Post bisher!
                {% endfor %}
            </div>
        {% else %}
            Du bist nicht eingelogged!
        {% endif %}
    </div>
{% endblock %}