{% extends "site/base-simple.html.twig" %}

{% block title %}
    {{ user is null ? "Not logged in" : user.getName() }} - MyMathematik
{% endblock %}

{% block content %}
    <div class="account">
        <div>
            {% if errors %}
                {% for error in errors %}
                    <div class="w-100 border border-danger p-1 m-1 text-center text-danger rounded-lg">
                        {{ error|trans }}
                    </div>
                {% endfor %}
            {% endif %}
            {% if infos %}
                {% for info in infos %}
                    <div class="w-100 border border-primary p-1 m-1 text-center text-primary rounded-lg">
                        {{ info|trans }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        {% if infos or errors %}
            <div class="mb-5"></div>
        {% endif %}
        <div class="row mb-4">
            <div class="col-2">
                <img class="w-100" src="{{ user_image_path(user) }}">
            </div>
            <div class="col-10">
                <div style="min-height: 60px">
                    <div id="user_showname_normal">
                        <h1 id="user_showname_name" class="d-inline-block mr-2">
                            {{ user.getName() }}                            
                        </h1>
                        {% if user == app.user %}
                            <u id="user_showname_startedit" class="text-secondary small cursor-pointer">Bearbeiten</u>
                        {% endif %}
                    </div>
                    {% if user == app.user %}
                        <div id="user_showname_edit" class="d-none row ml-0 mr-0">
                            <input id="user_showname_input" class="col mr-2 form-control" placeholder="Anzuzeigender Name" required>
                            <button id="user_showname_save" class="col-auto mr-2 btn btn-primary">Speichern</button>
                            <a id="user_showname_cancle" class="col-auto btn btn-outline-secondary">Abbrechen</a>
                        </div>
                    {% endif %}
                </div>
                {% if user == app.user %}
                    <div class="text-secondary">
                        {{ user.getEmail() }}
                    </div>
                    {% if not user.getEmailVerified() %}
                        <div>
                            <span class="text-danger">
                                Email nicht bestätigt!
                            </span>
                            <u id="user_verify_email" class="text-secondary cursor-pointer">
                                Email erneut senden
                            </u>
                        </div>
                    {% endif %}
                    <div class="mb-4 w-100">
                        <a class="text-secondary collapsed w-100 d-block" href="#collapseSettings" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseSettings">
                            Erweiterte Einstellungen
                            <i class="fas fa-angle-down"></i>
                        </a>
                        <div class="collapse ml-4 pl-4 border-left border-secondary" id="collapseSettings">
                            <a href="{{ path('route_account_delete') }}" class="text-danger">
                                Account löschen
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="card">
            <h3 class="card-header">
                Forum Posts
            </h3>
            <div class="card-body">
                <div class="card-text">
                    {% for post in user.getPosts()|reverse %}
                        <a class="card mb-3 text-decoration-none" href="/forum/{{ post.getId() }}">
                            <div class="card-body">
                                <div class="card-text row">
                                    <img class="col-1 dark-invert-color" src="{{ 
                                        post.getType() == "question" ? asset('/build/images/forum/Question.png') : asset('/build/images/forum/Post.png')
                                    }}" />
                                    <h2 class="col-11">
                                        {{ post.getTitle() }}
                                    </h2>
                                </div>
                            </div>
                            <div class="card-footer text-secondary small">
                                Gepostet {{ post.getDate().getTimestamp()|time_diff }}
                            </div>
                        </a>
                    {% else %}
                        Keine Post bisher!
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}