{% extends 'site/base-simple.html.twig' %}

{% block title %}
    Passwort zurücksetzen - MyMathematik
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center">
        <form method="POST" class="card" style="width: 500px">
            <div class="card-body">
                <h3 class="card-title">
                    Passwort zurücksetzen für:
                    {{ user.getName() }} ({{ user.getEmail() }})
                </h3>
                <div class="card-text">
                    {% set errors = errors ?? [] %}

                    {% if "invalid_form" in errors %}
                        Invalid form
                    {% endif %}

                    <div class="form-group">
                        <label for="register_password_input">
                            Neues Passwort
                        </label>
                        <input
                            type="{{ show_password ? "text" : "password" }}"
                            name="password_input"
                            id="register_password_input"
                            class="input form-control"
                            minlength="6"
                            maxlength="4096"
                            autocomplete="new-password"
                            placeholder="{{ "account.register.inputs.password.placeholder"|trans }}"
                            required
                        />
                        <span
                            id="register_toggle_password"
                            class="far {{ show_password ? "fa-eye-slash" : "fa-eye" }} float-right cursor-pointer text-dark"
                            style="margin: -26px 15px 0 5px;"
                        ></span>
                        <div class="text-danger small">
                            {% if "too_short_password" in errors %}
                                {{ "account.register.inputs.password.errors.too_short"|trans }}
                            {% elseif "too_long_password" in errors %}
                                {{ "account.register.inputs.password.errors.too_long"|trans }}
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group mb-4" id="password_repeat_form"{{ show_password ? ' style="display: none;"' }}>
                        <label
                            for="password_repeat_input"
                            class="input_label"
                        >Neues Passwort wiederholen</label>
                        <input
                            type="password"
                            name="password_repeat_input"
                            id="password_repeat_input"
                            class="input form-control"
                            minlength="6"
                            maxlength="4096"
                            autocomplete="current-password"
                            placeholder="{{ "account.register.inputs.repeat_password.placeholder"|trans }}"
                            value="{{ show_password ? "dummy" }}"
                            required
                        />
                        <div class="text-danger small">
                            {% if "unequal_passwords" in errors %}
                                {{ "account.register.inputs.repeat_password.errors.unequal"|trans }}
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">
                            Passwort zurücksetzen
                        </button>
                        <a href="{{ path('route_account_login') }}" class="btn btn-outline-secondary ml-2">
                            Zurück zur Anmeldung
                        </a>
                    </div>

                </div>
            </div>
        </form>
    </div>
{% endblock %}