{% extends 'site/base-simple.html.twig' %}

{% block content %}
    <form method="POST" class="register d-flex justify-content-center" name="register_form">
        <div class="dropdown-menu form">
            <div class="px-4 py-3">

                {% set errors = errors ?? [] %}

                <div class="title">
                    <h1>{{ "account.register.title"|trans }}</h1>
                </div>

                {% if "invalid_form" in errors %}
                    {{ "account.register.inputs.invalid_form"|trans }}
                {% endif %}

                {% if "invalid_csrf_token" in errors %}
                    {{ "account.register.inputs.invalid_csrf_token"|trans }}
                {% endif %}

                <div class="group">
                    <div class="form-group">
                        <label
                            for="email_input"
                            class="input_label"
                        >{{ "account.register.inputs.email.name"|trans }}</label>
                        <input
                            type="email"
                            name="email_input"
                            id="email_input"
                            class="input form-control"
                            maxlength="4096"
                            autocomplete="email"
                            placeholder="{{ "account.register.inputs.email.placeholder"|trans }}"
                            value="{{ last_email ?? "" }}"
                            required
                            autofocus
                        />
                        <div class="error">
                            {% if "already_used_email" in errors %}
                                {{ "account.register.inputs.email.errors.already_used"|trans }}
                            {% elseif "invalid_email" in errors %}
                                {{ "account.register.inputs.email.errors.invalid"|trans }}
                            {% elseif "too_long_email" in errors %}
                                {{ "account.register.inputs.email.errors.too_long"|trans }}
                            {% endif %}
                        </div>
                    </div>
                </div>

                {% set show_password = show_password ?? false %}

                <div class="group">
                    <div class="form-group">
                        <label
                            for="password_input"
                            class="input_label"
                        >{{ "account.register.inputs.password.name"|trans }}</label>
                        <input
                            type="{{ show_password ? "text" : "password" }}"
                            name="password_input"
                            id="password_input"
                            class="input form-control"
                            minlength="6"
                            maxlength="4096"
                            autocomplete="new-password"
                            placeholder="{{ "account.register.inputs.password.placeholder"|trans }}"
                            required
                        />
                        <span
                            id="toggle_password"
                            class="far {{ show_password ? "fa-eye-slash" : "fa-eye" }} show-password">
                        </span>
                        <div class="error">
                            {% if "too_short_password" in errors %}
                                {{ "account.register.inputs.password.errors.too_short"|trans }}
                            {% elseif "too_long_password" in errors %}
                                {{ "account.register.inputs.password.errors.too_long"|trans }}
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group" id="password_repeat_form"{{ show_password ? ' style="display: none;"' }}>
                        <label
                            for="password_repeat_input"
                            class="input_label"
                        >{{ "account.register.inputs.repeat_password.name"|trans }}</label>
                        <input
                            type="password"
                            name="password_repeat_input"
                            id="password_repeat_input"
                            class="input form-control"
                            minlength="6"
                            maxlength="4096"
                            autocomplete="current-password"
                            placeholder="{{ "account.register.inputs.repeat_password.placeholder"|trans }}"
                            value="{{ show_password ? "dummy" }}"
                            required
                        />
                        <div class="error">
                            {% if "unequal_passwords" in errors %}
                                {{ "account.register.inputs.repeat_password.errors.unequal"|trans }}
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="group">
                    <div class="form-group">
                        <div
                            class="g-recaptcha justify-content-center"
                            data-sitekey="{{ captcha_website }}">
                        </div>
                        <div class="error">
                            {% if "invalid_captcha" in errors %}
                                {{ "account.register.inputs.captcha.errors.invalid"|trans }}
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="group">
                    <div class="form-group checkbox-wrapper">
                        <input
                            type="checkbox"
                            class="form-check-input"
                            id="remember_me_input"
                            name="remember_me_input"
                            {{ last_remember_me ? "checked" }}
                        />
                        <label
                            class="rememberme-label"
                            for="remember_me_input"
                        >{{ "account.register.inputs.remember_me"|trans }}</label>
                    </div>
                </div>

                <input type="hidden" name="show_password_input" id="show_password_input" value="{{ show_password ? "true" : "false" }}"/>
                <input type="hidden" name="csrf_token_input" id="csrf_token_input" value="{{ csrf_token('authenticate') }}"/>

                <div class="buttons">
                    <button type="submit" class="btn btn-lg btn-primary submit">
                        {{ "account.register.submit"|trans }}
                    </button>
                    <a href="{{ path('route_account_login') }}" class="btn btn-lg btn-outline-secondary login">
                        {{ 'account.register.tologin'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </form>    
{% endblock %}

{% block data %}
    <input type="hidden" id="header_config" value="simple" />
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}
