{% extends 'site/base-simple.html.twig' %}

{% block title %}
    Register - MyMathematik
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center">
        <form method="POST" class="card" style="width: 500px">
            <div class="card-body">
                <h1 class="card-title">
                    {{ "account.register.title"|trans }}
                </h1>
                <div class="card-text">

                    {% set errors = errors ?? [] %}
                    {% set show_password = show_password ?? false %}

                    {% if "invalid_form" in errors %}
                        <div class="text-danger small">
                            {{ "account.register.inputs.invalid_form"|trans }}                        
                        </div>
                    {% endif %}

                    {% if "invalid_csrf_token" in errors %}
                        <div class="text-danger small">
                            {{ "account.register.inputs.invalid_csrf_token"|trans }}
                        </div>
                    {% endif %}

                    <div class="form-group">
                        <label for="email_input">
                            {{ "account.register.inputs.email.name"|trans }}
                        </label>
                        <input
                            type="email"
                            name="email_input"
                            id="email_input"
                            class="input form-control"
                            maxlength="4096"
                            autocomplete="email"
                            placeholder="{{ "account.register.inputs.email.placeholder"|trans }}"
                            value="{{ last_email ?? "" }}"
                            required
                            autofocus
                        />
                        <div class="text-danger small">
                            {% if "already_used_email" in errors %}
                                {{ "account.register.inputs.email.errors.already_used"|trans }}
                            {% elseif "invalid_email" in errors %}
                                {{ "account.register.inputs.email.errors.invalid"|trans }}
                            {% elseif "too_long_email" in errors %}
                                {{ "account.register.inputs.email.errors.too_long"|trans }}
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="register_password_input">
                            {{ "account.register.inputs.password.name"|trans }}
                        </label>
                        <input
                            type="{{ show_password ? "text" : "password" }}"
                            name="password_input"
                            id="register_password_input"
                            class="input form-control"
                            minlength="6"
                            maxlength="4096"
                            autocomplete="new-password"
                            placeholder="{{ "account.register.inputs.password.placeholder"|trans }}"
                            required
                        />
                        <span
                            id="register_toggle_password"
                            class="far {{ show_password ? "fa-eye-slash" : "fa-eye" }} float-right cursor-pointer text-dark"
                            style="margin: -26px 15px 0 5px;"
                        ></span>
                        <div class="text-danger small">
                            {% if "too_short_password" in errors %}
                                {{ "account.register.inputs.password.errors.too_short"|trans }}
                            {% elseif "too_long_password" in errors %}
                                {{ "account.register.inputs.password.errors.too_long"|trans }}
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group mb-4" id="password_repeat_form"{{ show_password ? ' style="display: none;"' }}>
                        <label
                            for="password_repeat_input"
                            class="input_label"
                        >{{ "account.register.inputs.repeat_password.name"|trans }}</label>
                        <input
                            type="password"
                            name="password_repeat_input"
                            id="password_repeat_input"
                            class="input form-control"
                            minlength="6"
                            maxlength="4096"
                            autocomplete="current-password"
                            placeholder="{{ "account.register.inputs.repeat_password.placeholder"|trans }}"
                            value="{{ show_password ? "dummy" }}"
                            required
                        />
                        <div class="text-danger small">
                            {% if "unequal_passwords" in errors %}
                                {{ "account.register.inputs.repeat_password.errors.unequal"|trans }}
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group">
                        <div
                            class="g-recaptcha justify-content-center"
                            data-sitekey="{{ captcha_website }}"
                            data-theme="{{ globals.designs[current_design].dark ? 'dark' : 'light' }}"
                        >
                        </div>
                        <div class="text-danger small">
                            {% if "invalid_captcha" in errors %}
                                {{ "account.register.inputs.captcha.errors.invalid"|trans }}
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group checkbox-wrapper">
                        <div class="form-check">
                            <input
                                type="checkbox"
                                class="form-check-input"
                                id="remember_me_input"
                                name="remember_me_input"
                                {{ last_remember_me ? "checked" }}
                            />
                            <label
                                class="form-check-label"
                                for="remember_me_input"
                            >{{ "account.login.inputs.remember_me"|trans }}</label>
                        </div>
                    </div>

                    <input type="hidden" name="show_password_input" id="show_password_input" value="{{ show_password ? "true" : "false" }}"/>
                    <input type="hidden" name="csrf_token_input" id="csrf_token_input" value="{{ csrf_token('authenticate') }}"/>

                    <button type="submit" class="btn btn-primary mr-2">
                        {{ "account.register.submit"|trans }}
                    </button>
                    <a href="{{ path('route_account_login') }}" class="btn btn-outline-secondary">
                        {{ 'account.register.tologin'|trans }}
                    </a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="https://www.google.com/recaptcha/api.js?hl={{ globals.request.locale }}" async defer>
    </script>
{% endblock %}
