{% extends 'site/base-simple.html.twig' %}

{% block title %}
    Passwort zurücksetzen - MyMathematik
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center">
        <form method="POST" class="card" style="width: 500px">
            <div class="card-body">
                <h1 class="card-title">
                    Passwort zurücksetzen
                </h1>
                <div class="card-text">
                    {% set errors = errors ?? [] %}

                    {% if "invalid_form" in errors %}
                        Invalid form
                    {% endif %}

                    <div class="form-group">
                        <label for="email_input">
                            {{ "account.login.inputs.email.name"|trans }}
                        </label>
                        <input
                            type="email"
                            value="{{ last_email ?? "" }}"
                            name="email"
                            id="passwordreset_email_input"
                            class="form-control"
                            placeholder="{{ "account.login.inputs.email.placeholder"|trans }}"
                            autocomplete="email"
                            required
                            autofocus
                        />
                        <div class="text-danger small">
                            {% if "too_long_email" in errors %}
                                {{ "account.login.inputs.email.errors.too_long"|trans }} 
                            {% elseif "user_not_found" in errors %}
                                {{ "account.login.inputs.email.errors.not_found"|trans }}
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">
                            Email anfordern
                        </button>
                        <a href="{{ path('route_account_login') }}" class="btn btn-outline-secondary ml-2">
                            Zurück zur Anmeldung
                        </a>
                    </div>

                </div>
            </div>
        </form>
    </div>
{% endblock %}