{% extends "base.html.twig" %}

{% import _self as this %}

{% macro chapter(chapters, level, parentcontent) %}

    {% import _self as this %}

    {% set mutableparentcontent = parentcontent %}

    {% if chapters|length > 0 %}
        {% for chapter in chapters %}
        
            <div class="chapter">
                
                <div class="chapterheader" data-parentcontent="chaptercontent{{ parentcontent }}">

                    <h{{ level }} class="chaptertitle">
                        {% if chapter.name is defined %}
                            {{ chapter.name }}   
                        {% else %}
                            {{ 'video.nochaptername'|trans }}            
                        {% endif %}
                    </h{{ level }}>

                    <span class="fas fa-sort-down dropdownbutton"></span>

                </div>
                
                <div class="chaptercontent" id="chaptercontent{{ mutableparentcontent }}">

                    {% if chapter.chapters is defined %}
                        {{ this.chapter(chapter.chapters, level + 1, mutableparentcontent + loop.index) }}
                    {% endif %}

                    {% set mutableparentcontent = mutableparentcontent + 1 %}

                    {% if chapter.videos is defined %}
                        {% if chapter.videos|length > 0 %}
                            {% for video in chapter.videos %}
                                <div class="video">

                                    <div class="videotitle">
                                        {% if video.name is defined %}
                                            {{ video.name }}
                                        {% else %}
                                            {{ 'video.novideoname'|trans }}
                                        {% endif %}
                                    </div>

                                    <video controls>
                                        <source src="{{ video.source }}" type="video/mp4"></source>
                                        <source src="{{ video.source }}" type="video/ogg"></source>
                                        {{ 'videos.notsupported'|trans }}
                                    </video> 

                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="nocontent">
                                {{ 'videos.novideos'|trans }}
                            </div>
                        {% endif %}
                    {% endif %}

                </div>
                
            </div>

        {% endfor %}


    {% else %}
        <div class="nocontent">
            {{ 'videos.nocontent'|trans }}
        </div>
    {% endif %}

{% endmacro %}

{% block content %}
    <div class="videos">

        <div class="classname">
            <h1>
                {{ 'videos.class'|trans }} {{ globals.classes[class].name }}
            </h1>
            <a href="{{ globals.classes[class].curriculum }}" rel="noopener noreferrer" target="_blank">
                {{ 'videos.curriculum.link'|trans }}
                <i class="fas fa-link"></i>
            </a>
        </div>

        <div class="chapters">
            {% if videos.chapters is defined %}
                {{ this.chapter(videos.chapters, 1, 0) }}                
            {% endif %}
        </div>

    </div>
{% endblock %}

{% block css %}
    {{ parent() }}
    {{ encore_entry_link_tags('videos') }}
{% endblock %}

{% block js %}
    {{ parent() }}
    {{ encore_entry_script_tags('videos') }}
{% endblock js %}