<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script type="text/javascript" async src="https://www.googletagmanager.com/gtag/js?id={{ ga_tracking }}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', '{{ ga_tracking }}');
        </script>


        <title>
            {% if title is defined %}
                {{ title }}
            {% else %}
                {{ 'site.title'|trans }}
                {{ app.request.pathinfo|replace({"/": " - "})|trim(' - ', 'right') }}
            {% endif %}
        </title>

        {% if app.environment == 'dev' %}
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
            <link rel="stylesheet" href="/css/MyMathematik.css"></link>
        {% else %}
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
            <link rel="stylesheet" href="/css/MyMathematik.min.css"></link>
        {% endif %}

    </head>
    <body>
        
        {% block header %}
            <header class="header" id="header" role="banner">
                <a href="/" class="title" rel="home">
                    {{ "header.title"|trans }}
                </a>

                <div class="icons">
                    <div class="icon">
                        <i class="dropdown-header fas fa-video"></i>
                        <div class="dropdown-content">
                            {% for class in classes %}
                                <a href="{{ class.href }}">
                                    {{ 'header.class'|trans }} {{ class.name }}
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="icon">
                        <i class="dropdown-header fas fa-user"></i>
                        <div class="dropdown-content">
                            <a href="/account/me">
                                Mein Account
                            </a>
                            <a href="">
                                Toggle Login?
                            </a>
                        </div>
                    </div>
                </div>

            </header>
        {% endblock %}

        {% block fullcontent %}
            <div class="content" id="content">
                {% block content %}{% endblock %}
            </div>            
        {% endblock %}

        {% block footer %}
            <footer class="footer" id="footer">
                <div class="footercontent">
                    <div class="footerlinks">
                        {% for info in informations %}
                            <a href="{{ info.href }}" class="footerlink">
                                {{ info.name|trans }}
                            </a>
                        {% endfor %}
                    </div>
                    <span onclick="goup();" class="goup">
                        {{ 'footer.goup'|trans }}
                    </span>
                </div>
            </footer>
        {% endblock %}

        {% block cookies %}
            <div class="cookies" id="cookies">
                <div class="cookiestext">
                    <label>
                        {{ 'cookies.info'|trans }}
                    </label>
                    <a href="{{ informations.cookies.href }}">
                        {{ 'cookies.more'|trans }}
                    </a>
                    <button onclick="cookiesaccepted();">
                        ok
                    </button>
                </div>
            </div>
        {% endblock %}

        {% if app.environment == 'dev' %}
            <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
            {#<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>#}
            <script src="/js/MyMathematik.js"></script>
        {% else %}
            <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
            {#<script src="https://cdn.jsdelivr.net/npm/vue"></script>#}
            <script src="/js/MyMathematik.min.js"></script>
        {% endif %}
    </body>
</html>
