<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {{ title }}
        </title>

        {% if app.environment == 'dev' %}
            <link rel="stylesheet" href="/css/MyMathematik.css"></link>
        {% else %}
            <link rel="stylesheet" href="/css/MyMathematik.min.css"></link>
        {% endif %}

    </head>
    <body>
        
        {% block header %}
            <header class="header" id="header">
                <a href="/" class="title" rel="home">
                    {{ "header.title"|trans }}
                </a>

                <div class="classlinks">
                    {% for class in classes %}
                        <a href="/videos/{{ class.name }}">
                            {{ 'header.class'|trans }} {{ class.name }}
                        </a>
                    {% endfor %}
                </div>

            </header>
        {% endblock %}

        {% block content %}{% endblock %}

        {% block footer %}
            <footer class="footer" id="footer">
                
            </footer>
        {% endblock %}

        {% if app.environment == 'dev' %}
            <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
            <script src="/js/MyMathematik.js"></script>
        {% else %}
            <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/vue"></script>
            <script src="/js/MyMathematik.min.js"></script>
        {% endif %}
    </body>
</html>
