{% extends "site/base-simple.html.twig" %}

{% block content %}
    <div class="forum">
        <div class="top">
            <h1 class="title">Forum</h1>
            <a href="{{ path('route_forum_create') }}" class="create">
                Create
            </a>
        </div>
        {% for question in questions|reverse %}
            {% set user = question.getUser() %}
            <a class="question" href="forum/{{ question.getId() }}">
                <div class="logo">
                    <img src="{{ 
                        question.getType() == "question" ? asset('build/images/Question.png') : asset('build/images/Post.png')
                    }}" />
                </div>
                <div class="details">
                    <div class="questiontitle">
                        {{ question.getTitle() }}
                    </div>
                    <div class="user">
                        Gepostet von {{ user.getName() }} {{ question.getDate().date|ago }}
                    </div>
                </div>
            </a>
        {% else %}
            Keine Post bisher!
        {% endfor %}
    </div>
{% endblock %}