{% extends "site/base-simple.html.twig" %}

{% block content %}
    <div class="forum">
        <div class="mb-4">
            <h1 class="d-inline-block">
                Forum
            </h1>
            {% if app.user is not null %}
                <a href="{{ path('route_forum_create') }}" class="btn btn-outline-primary float-right">
                    Post oder Frage erstellen
                </a>
            {% else %}
                <a href="{{ path('route_account_login') }}?_target_path={{ globals.request.pathInfo }}" class="float-right text-secondary">
                    Du musst eingeloggt sein um einen Post zu erstellen!
                </a>
            {% endif %}
        </div>
        <div>
            {% for post in posts|reverse %}
                {% set user = post.getUser() %}
                <div class="card mb-3">
                    <a href="{{ path('route_forum_post', {'id': post.getId()}) }}" class="card-body text-decoration-none">
                        <div class="card-text row">
                            <img class="col-md-1 col-sm-2 dark-invert-color" src="{{ 
                                post.getType() == "question" ? asset('build/images/Question.png') : asset('build/images/Post.png')
                            }}" />
                            <h2 class="col-auto text-black">
                                {{ post.getTitle() }}
                            </h2>
                        </div>
                    </a>
                    <div class="card-footer text-muted small">
                        Gepostet von 
                        <a href="{{ path('route_account_user', {'id': user.getId()}) }}" class="text-muted">{{ user.getName() }}</a>
                        {{ post.getDate().date|ago }}
                    </div>
                </div>
            {% else %}
                Keine Post bisher!
            {% endfor %}
        </div>
    </div>
{% endblock %}