{% extends "site/base-simple.html.twig" %}

{% block title %}
    {{ post.getTitle() }} - Forum - MyMathematik
{% endblock %}

{% block content %}
    <div class="post">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">
                    {{ post.getTitle() }}
                </h1>
                <div class="card-text">
                    {{ post.getText() }}
                </div>
            </div>
            <div class="card-footer text-muted small">
                Gepostet von 
                <a href="{{ path('route_account_user', {'id': post.getUser().getId()}) }}" class="text-muted">{{ post.getUser().getName() }}</a>
                {{ post.getDate().getTimestamp()|time_diff }}
            </div>
        </div>
        <hr class="mt-4 mb-4">
        {% set answers = post.getAnswers() %}
        <div class="answers mt-4">
            {% for answer in answers %}
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="card-text">
                            {{ answer.getText() }}
                        </div>
                    </div>
                    <div class="card-footer text-muted small">
                        Gepostet von 
                        <a href="{{ path('route_account_user', {'id': answer.getUser().getId()}) }}" class="text-muted">{{ post.getUser().getName() }}</a>
                        {{ answer.getDate().getTimestamp()|time_diff }}
                    </div>
                </div>
            {% else %}
                Keine Antworten bisher!
            {% endfor %}
        </div>
        <hr class="mt-4 mb-4">
        {% if app.user is not null %}
            {% if app.user.getEmailVerified() %}
                <div class="btn btn-outline-primary createanswerbutton">
                    Antwort erstellen
                </div>
                <form class="d-none w-100" id="createanswer" method="POST">
                    <textarea class="w-100" style="min-height: 100px;" name="post_text"></textarea>
                    <div>
                        <button type="submit" class="btn btn-primary">Hochladen</button>
                        <button type="button" class="btn btn-outline-secondary ml-1 canclecreatepost">Abbrechen</button>
                    </div>
                </form>
            {% else %}
                <a href="{{ path('route_account_me') }}" class="text-secondary">
                    Du musst deine Email bestätigen um eine Antwort zu erstellen zu können!
                </a>
            {% endif %}
        {% else %}
            <a href="{{ path('route_account_login') }}?_target_path={{ globals.request.pathInfo }}" class="text-secondary">
                Du musst eingeloggt sein um eine Antwort zu erstellen!
            </a>
        {% endif %}
    </div>
{% endblock %}