{{ 'email.verify.text.info'|trans }}
<br style="margin-bottom: 3px;">
<a href="{{ url }}">
    <button>
        {{ 'email.verify.text.button'|trans }}
    </button>
</a>
<br style="margin-bottom: 3px;">
Sollte der obenstehende Knopf nicht funktionieren, benutze bitte folgenden Link:
<a href="{{ url }}">
    {{ url }}
</a>